h2
{
color:yellow;
font-size:20px;
text-align:center;
}

p
{
color:#ff0000;
}

p1
{
color:#6A7;
}

p2
{
color:rgb(0,0,255);
}

p3
{
color:teal;
}

body
{
background-image:url(/home/itsec3/Downloads/dreamcatcher.jpg);
background-repeat:repeat;
background-attachment:scroll;
}

<p style="font-style:italic;"> welcome </p>
<p style="fony-family:georigia,garamond">  


