h6
{
font-family:Times New Roman ;
color:pink; 
background-color:yellow;
}

p.pinktext
{
color:blue;
background-color:pink;
}

.something
{
color:yellow;
background-color:blue;
}

#abc
{
color:yellow;
background-color:pink;
}
